<section class="mt-5">
  <div
    id="carouselExampleIndicators"
    class="carousel_style carousel slide"
    data-bs-ride="carousel"
  >
    <div class="indicator_group carousel-indicators">
      <button
        class="carousel_arrow carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <img src="../svg/carousel/carousel_left_arrow.svg" alt="..." />
      </button>

      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="indicator active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        class="indicator"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        class="indicator"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        class="indicator"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        class="indicator"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></button>

      <button
        class="carousel_arrow carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <img src="../svg/carousel/carousel_right_arrow.svg" alt="..." />
      </button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel_content">
          <img
            src="../svg/carousel/carousel_1.svg"
            class="adv-image"
            alt="..."
          />
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel_content">
          <img
            src="../svg/carousel/carousel_1.svg"
            class="adv-image"
            alt="..."
          />
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel_content">
          <img
            src="../svg/carousel/carousel_1.svg"
            class="adv-image"
            alt="..."
          />
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel_content">
          <img
            src="../svg/carousel/carousel_1.svg"
            class="adv-image"
            alt="..."
          />
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel_content">
          <img
            src="../svg/carousel/carousel_1.svg"
            class="adv-image"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</section>
